<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <header>
      <div class="hero-logo"><h1>MUSIC STORE</h1></div>
      <form>
        <label for="search">
          <input type="text" id="search" name="search" />
          <button type="submit">Search</button>
        </label>
      </form>
    </header>
    <main>
      <sidebar>
        <nav>
          <ul>
            <li><a href="/">Dashboard</a></li>
          </ul>
          <h2>Categories</h2>
          <ul>
            <li><a>Artists</a></li>
            <li><a href="/album">Albums</a></li>
            <li><a>Labler</a></li>
            <li><a>Genre</a></li>
            <li><a href="/allrelease">All Released</a></li>
          </ul>
          <h2>New</h2>
          <ul>
            <li><a>Artists</a></li>
            <li><a>Albums</a></li>
            <li><a>Labler</a></li>
            <li><a>Genre</a></li>
          </ul>
        </nav>
      </sidebar>
      <div class="main-content">
        <% if (view.dash) { %> <%-
        include('dashboard',{releases:data,numberOfAllbum: numberOfAllbum,
        numberOfItemInStock: numberOfItemInStock, numberOfItemLowInStock:
        numberOfItemLowInStock,}) %> <% } else if (view.artist) { %> <%-
        include('artists') %> <% } else if (view.label){%> <%- include('label')
        %> <% } else if (view.genre) {%> <%- include('genre') %> <% } else if
        (view.allreleased) {%> <%-include('allreleased',{releases:data}) %> <% }
        else if (view.albums) {%> <%- include('album') %> <% } %>
      </div>
    </main>
  </body>
</html>
